<nav class="navbar navbar-light bg-light">
    <form class="form-inline ml-auto">
      <%= link_to "Create a new Flat", new_flat_path, class: 'btn btn-primary my-2 my-sm-0' %>
    </form>
</nav>

<div class="container">
  <% @flats.each do |flat| %>

      <div class="card-trip">
        <img src="https://source.unsplash.com/800x600/?home,<%= flat.name %>" />
        <div class="card-trip-infos">
          <div>
            <h2> <%= flat.name %></h2>
            <p> <%= flat.description %></p>
            <p><%= link_to 'Show', flat_path(flat) %></p>
          </div>
            <h2 class="card-trip-pricing">€ <%= flat.price_per_night %> </h2>
            <img src="https://source.unsplash.com/800x600/?face,<%= flat.name %>" class="card-trip-user avatar-bordered" />
        </div>
      </div>

  <% end %>
</div>
