<% @flats.each do |flat| %>

    <div class="card-trip">
      <img src="https://source.unsplash.com/800x600/?home,<%= flat.name %>" />
      <div class="card-trip-infos">
        <div>
          <h2> <%= flat.name %></h2>
          <p> <%= flat.description %></p>
        </div>
          <h2 class="card-trip-pricing">€ <%= flat.price_per_night %> </h2>
          <img src="https://source.unsplash.com/800x600/?face,<%= flat.name %>" class="card-trip-user avatar-bordered" />
      </div>
    </div>

<% end %>
